body{
    background-color: white;
    font-family: Verdana;
}

aside{
    float: left;
    background: #071108;
    width: 20%;
    padding: 3%;
    color: white;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
}

main{
    width: 80%;
    float: right;
}

aside h2{
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 50px;
}

aside ul{
    list-style: none;
    width: 100%;
    padding: 0;
}

aside ul li{
    color: white;
    display: block;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

aside ul a{
    text-decoration: none;
}

aside ul li:hover, aside ul li:hover{
    color:antiquewhite;
}

header{
    background-color: #364652;
    float: right;
    width: 80%;
}

header div{

    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 50%;
    margin: 0 auto;
    gap: 30px;

}

header div img{
    width: 100px;
}

header div h1{
    width: auto;
    align-self: center;
    color: white;
}

.vacancy{
    width: 85%;
    margin: 0 auto;
    padding: 2.5%;
    margin-bottom: 50px;
}

.vacancy h3{
    text-align: center;
    margin-bottom: 50px;
}

.skills{
    list-style: none;
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding: 0;
}

.skills li{
    background-color: #CFD11A;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

.date{
    padding: 20px;
    text-align: center;
}

.vacancy .description{
    background-color: #F2E9DC;
    padding: 2.5%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.vacancy .more{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.more p{
    background-color: #91C499;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}

.more p span{
    font-size: 15px;
}

.main{
    width: 80%;
    margin: 0 auto;
}

.main h3{
    margin-top: 50px;
    text-align: center;
}

table{
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td{
    border: 1px solid black;
    padding: 5px;
}

footer{
    background-color: #364652;
    float: right;
    width: 80%;
    padding: 20px;
}
footer h1{
    color: white;
    font-size: 20px;
    text-align: right;
}

.carousel-caption h5{
    color: black;
    text-align: right;
    position: relative;
    bottom: 90px;
    right: 10%;
    font-size: 100px;
}

.main table{
    margin: 50px auto;
}

.up-button {
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 35px;
  right: 20px;
  width: 64px;
  height: 64px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 5px solid;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  color: #6653d9;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: #6653d9;
  outline-color: #b6aaff;
}
.up-button:hover {
  color: #473c8d;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: #473c8d;
}
.shown {
  display: inline-block;
}